body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr minmax(500px, 1200px) 1fr;
  grid-template-rows: 14% 80% 6%;
  font-family: monospace;
}

header {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-weight: bold;
  font-size: 42px;
  text-shadow: 1px 1px;
}

main {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.kpi {
  background-color: white;
  height: 30%; 
  display: flex;
  font-size: 14px;
  flex-shrink: 0;
}

.lado1 {
  flex: 1;
  padding: 20px;
}

.lado2 {
  flex: 1;
  padding: 20px;
}

.resultados {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;;
}

.resultados label {
  font-weight: bold;
  padding: 12px;
}

.resultados option {
  padding: 12px;
}

.resultados input {
  padding: 8px;
  border-radius: 4px;
}

.tabelas {
  flex: 1; 
  overflow-y: auto; 
  border: 1px solid #ddd;
}

.tabelas h3 {
  background-color: black;
  font-weight: bold;
  color: white;
  padding: 2px;
  display: flex;
  justify-content: center;
}

.tabelas table {
  width: 100%;
  padding: 20px;
}

.tabelas th {
  border-bottom: 1px solid black;
}

.tabelas td {
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  background-color: white; 
  z-index: 1;
}


footer {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: rgb(5, 6, 6);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p{ 
  color: white;
  font-weight: bold;
}

